<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>
        {% block title %}   
            Django App
        {% endblock title %}
    </title>
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="{% url 'tiket:list' %}">Задачи</a> |
        <a href="{% url 'info' %}">О сайте</a> |
        <a href="{% url 'user:login' %}">Вход</a> |
        <a href="{% url 'tiket:test' %}">Тестовая страница</a>
        {% comment %} <form class="logout" action="{% url 'user:logout' %}" method='POST'>
            {% csrf_token %}
            <button title="logout">logout</button> {% endcomment %}
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>