<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>
        {% block title %}
            Django App
        {% endblock title %}
    </title>
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="{% url 'tiket:list' %}">Tikets</a> |
        <a href="/about">About</a> |
        {% comment %} <a href="{% url 'tiket:list' %}">posts</a> | {% endcomment %}
        {% comment %} <a href="{% url 'user:user_list' %}">users</a> | {% endcomment %}
        {% comment %} <a href="{% url 'user:registration' %}">register</a> | {% endcomment %}
        <a href="{% url 'user:login' %}">Login</a> 
        {% comment %} <form class="logout" action="{% url 'user:logout' %}" method='POST'>
            {% csrf_token %}
            <button title="logout">logout</button> {% endcomment %}
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>